.offCanvas { /* stylelint-disable */
    position: fixed;
    top: 0;
    left:-300px;
    height: 100%;
    width: 300px;
    background: #fff;
    padding: 0px;
    transition: .25s ease-in-out;
    z-index: 1000;
  }
  
  .offCanvas-Open {
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 10px, rgba(0, 0, 0, 0.22) 0px 3px 10px;
  }
  