@import "~@debijenkorf/core-assets/src/scss/variables";

.main-bar-container {
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    height: 52px;
    width: 100%;
    background-color: #fff;  
    // overflow: hidden;
    border-bottom: 1px solid $grey-600;
    z-index: 1000;	 
    .toggle {
        cursor:pointer !important;
        display: block;
    }
    .home-button {
        cursor: pointer;
    } 
}
