@import "~@debijenkorf/core-assets/src/scss/variables";

.floorplan-list {
    border-left: 1px solid $grey-400;
}

.floorplan-list-item {
    cursor: pointer;
}
.logo--floor--m1 {
    background-image: url('../../../app/assets/img/floor_number/floor--m1.svg');
    background-position: right 10px;
    background-repeat: no-repeat;
    float: right;
    display: block;
    height: 256px;
    width: 90px;
}

.logo--floor--0 {
    background-image: url('../../../app/assets/img/floor_number/floor--0.svg');
    background-position: right 10px;
    background-repeat: no-repeat;
    float: right;
    display: block;
    height: 256px;
    width: 90px;
}

.logo--floor--1 {
    background-image: url('../../../app/assets/img/floor_number/floor--1.svg');
    background-position: right 10px;
    background-repeat: no-repeat;
    float: right;
    display: block;
    height: 256px;
    width: 90px;
}
