.map-container {
    height: 500px;
    width: 90%;
}

.features {
    padding: 0 100px;
}

.logo-img {
    width: 300px;
    height: 300px;
    float: right;
}

.icon {
    background-image: url('../../../app/assets/indications/toilet.svg');
    background-size: cover;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

.toilet {
    background-image: url('../../../app/assets/indications/toilet.svg');
}
.cashier {
    background-image: url('../../../app/assets/indications/cashier.svg');
}
.elevator {
    background-image: url('../../../app/assets/indications/elevator.svg');
}
.escalator {
    background-image: url('../../../app/assets/indications/escalator.svg');
}
.exit {
    background-image: url('../../../app/assets/indications/exit.svg');
}
.help {
    background-image: url('../../../app/assets/indications/help.svg');
}
.fitting_room {
    background-image: url('../../../app/assets/indications/fitting_room.svg');
}
.information {
    background-image: url('../../../app/assets/indications/information.svg');
}
.restaurant {
    background-image: url('../../../app/assets/indications/restaurant.svg');
}
.stairs {
    background-image: url('../../../app/assets/indications/stairs.svg');
}